
/*doc
---
title: Tabs
category: Components - Tabs
---

[TODO]

*/

// scss-lint:disable QualifyingElement
.tabs--primary {
  @extend .list-inline;
  @extend .list-separate;
  list-style-type: none;
  padding-left: 0; /* LTR */

  a {
    text-transform: uppercase;
    border-bottom: 0;
  }

  .active {
    @extend .bold;
    border-bottom: 0;
    color: #{map-get($colorz, "primary")};
  }

}
// scss-lint:enable QualifyingElement
