
/*doc
---
title: Audio
category: Base - Media Elements
---

[TODO]

*/

/*doc
---
title: Vidéo
category: Base - Media Elements
---

[TODO]

```html_example

  <video width="825" height="400" id="video-example" controls="controls">
    <source src="" type="video/mp4" />
  </video>

```

*/

/*doc
---
title: Video Responsive
category: Base - Media Elements
---

Wrapper vidéo responsive

```html_example

  <div class="video">
    <iframe title="Title de la vidéo" width="1170" height="570" src="http://www.youtube.com/embed/2S79ZNV00HE" frameborder="0" allowfullscreen=""></iframe>
  </div>

```

*/

.video {
  @extend .overhidden;
  position: relative;
  padding-bottom: 56.25%;
  height: 0;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
