
/*doc
---
title: Colorz
category: Theme - Variables
---

Available for selectors :

* `<key>-color`
* `<key>-background`
* `<key>-border`

| Key | Hexa  | Background | Colorz
|-----|-------|------------|--------
| default | <span style="color:#b14437">#b14437</span> | <span class="default-background bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="default-color pas">Lorem Ipsum</span>
| primary | <span style="color:#2c4a4a">#2c4a4a</span> | <span class="primary-background bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="primary-color pas">Lorem Ipsum</span>
| secondary | <span style="color:#705241">#705241</span> | <span class="secondary-background bl pas" sytle="width:200px;height:30px">Lorem Ipsum</span> | <span class="secondary-color pas">Lorem Ipsum</span>

*/
$colorz: (
  default:   #b14437,
  primary:   #2c4a4a,
  secondary: #705241,
);
