{#
/**
 * @file
 * Default theme implementation for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * @see template_preprocess_status_messages()
 *
 * @ingroup templates
 */
#}
{%
  set status_heading = {
    'status': 'Status message'|t,
    'error': 'Error message'|t,
    'warning': 'Warning message'|t,
    'info': 'Informative message'|t,
  }
%}
{%
  set status_classes = {
    'status': 'status',
    'error': 'error',
    'warning': 'warning',
    'info': 'info',
  }
%}
{% for type, messages in message_list %}
{%
  set classes = [
    'messages',
    'messages--icon',
    'messages--' ~ status_classes[type],
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {% if status_headings[type] %}
    <p class="messages__title element-invisible">{{ status_headings[type] }}</p>
  {% endif %}
  <div class="messages__content">
    {% if messages|length > 1 %}
      <ul class="messages__list">
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="messages__description">{{ messages|first }}</p>
    {% endif %}
  </div>
</div>
{% endfor %}
